body{
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    background-color: #251613;
    padding: 0px;
    margin: 0px;
    color: #a08f75;
}

.arrow{
    width: 7px;
    height: 7px;
    border-right: 3px solid #ffa903;
    border-bottom: 3px solid rgb(255, 169, 3);
    border-radius: 10%;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -3px;
    left: 5px;
}

.sandwich-menu-icon{
    width: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.sandwich-menu--line{
    width: 40px;
    border-bottom: 3px solid #ffa903;
    margin-bottom: 10px;
}

.sandwich-menu--line:first-child{
    margin-top: 10px;
}

.arrow-right{
    width: 7px;
    height: 7px;
    border-top: 3px solid #8e8e8e;
    border-right: 3px solid #8e8e8e;
    border-radius: 10%;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    left:10px;
}

h1{
    text-transform: uppercase;
    color: #CFCFCF;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.container{
    max-width: 1100px;
    background-color: #251613;
}

.class-paladin {
    color: #f58cba;
}

header{
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,169,3,30%);
    background-color: #251613;
}

header nav{
    transition: visibility 0s, opacity 0.5s linear;
}

header nav ul,
header nav li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

header nav li{
    text-transform: uppercase;
    margin-left: 50px;
}

header nav li a{
    text-decoration: none;
    font-weight: 700;
    color: #ffa903;
}

header nav li:nth-child(1){
    margin-left: 0;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner{
    height: 241px;
}

.banner--background{
    background-image: url('../../media/banner.png');
    background-size: cover;
    background-position: bottom center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: blue;
    height: 295px;
    width: 100%;
}

.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.banner-area img{
    width: 140px;
    height: 140px;
    display: block;
}

.geral {
    background-color: #251613;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.geral .container{
    border-top: 1px solid rgba(255,169,3,30%);
    display:flex;
    flex-direction: row;
    background-color: #251613;
    margin: auto;
}

.geral--news{
    flex:2;
    background-color: #251613;
}

.geral--new{
    margin-bottom: 20px;
}

.geral--right{
    flex:1;
    background-color: #251613;
}

.geral--new-area,
.realm-status-area{
    padding: 20px;
    border: 1px solid rgba(255,169,3,10%);
}

.new--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    color:#ffa903;
}

.nav-link{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link a{
    text-decoration: none;
    color: #8e8e8e;
}



.geral--right{
    margin-left: 30px;
}

.realm-status{
    margin-bottom: 20px;
}

.realm-status--text{
    font-size: 16px;
    text-align: center;
}

.realm-status--text{
    padding: 15px;
    border-bottom: 1px solid rgba(255,169,3,10%);
}

.realm-status--text span{
    color: greenyellow;
    text-transform: uppercase;
}

.realm-status--text--uptime{
    font-size: 14px;
    color: currentColor;
}

.realm-status--links{
    margin-top: 15px;
    text-align: center;
    height: 100%;
}

.realm-status--links a{
    text-decoration: none;
    color:#fff;
    border: 1px solid #FFF;
    padding: 10px 15px;
    margin-left: 5px;
    display: inline-block;
}

.realm-status--links a:nth-child(1){
    margin-left: 0px
    ;
}

.realm-status--links:visited{
    text-decoration: none;
}

.top-2v2-area,
.top-solo-queue,
.top-bg-wins,
.recent-battlegrounds{
    border: 1px solid rgba(255,169,3,10%);
    margin-bottom: 20px;
}

.geral--right table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.geral--right table td{
    color: #cb4239;
}

.geral--right table td.paladin{
    color: #f58cba;
}

.geral--right table td.priest{
    color: #fff;
}

.geral--right table td.rogue{
    color: #fff569;
}

.geral--right table td.hunter{
    color: #abd473;
}

.geral--right table td.ally-win{
    color: #438bcc;
}

.geral--right table tr:hover{
    text-shadow: 0px 0px 5px currentColor;
}

.geral--right table img{
    width: 25px;
    height: 25px;
}

.geral--right table tr{
    border-bottom: 1px solid rgba(255,169,3,10%);
}

.geral--right table tbody tr:nth-last-child(1){
    border-bottom: 0;
}

.geral--right table tr{
    height: 40px;
}

.geral--right table td:nth-child(1){
    width: 20%;
}

.geral--right table td:nth-child(3){
    width: 25%;
}

footer p{
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color:#8e8e8e;
}


@media (min-width: 1000px) and (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    header nav{
        display:block;
    }
}

@media (min-width: 770px) and (max-width: 999px){
    .container{
        max-width: 720px;
    }
    header nav{
        display:block;
    }
}

@media (max-width: 769px){
    .geral .container{
        flex-direction: column;
    }

    header{
        padding: 0px;
    }

    header nav{
        display:none;
    }

    header nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav ul li{
        margin: 0px;
        line-height: 45px;
    }

    .banner--background{
        display:none;
    }

    .banner{
        order: -1;
        height: 100px;
        background-image: url('../../media/banner.png');
        background-size: cover;
        background-position: bottom;
    }

    .banner-area{
        justify-content: space-between;
    }

    .banner-area img{
        width: 70px;
        height: auto;
    }

    .sandwich-menu-icon{
        display: block;
        margin-right: 20px;
    }

    .geral--right{
        margin-left: 0px;
    }
}
